

  <div class="group">
      <% if current_user && current_user == @meetup.user %>
        <%= link_to("Edit", edit_meetup_path(@meetup), class: "btn btn-primary pull-right")%>
      <% end %>
  </div>

<h1><%= @meetup.title %></h1>
<hr><br>
<p><%= simple_format(@meetup.description) %></p>
